.App {
  text-align: center;
}

.main-display {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.display {
  width: 80px;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: black;
  color: #fff;
}

.panel-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.btn-control {
  margin: 0 10px;
}

.btn-type {
  text-transform: capitalize;
  width: 65px;
}
